h1 {
 text-align: center
}

h2 {
    text-align:left;
}

li {
    font-size:1.8vh ;
}
label {
    font-size:1.8vw;
}

p {
    font-size:1.5vh;
}

nav {
    background-color:lightblue;
    width:80%;
    margin:auto;
}

#banner {
    text-align: left;
    width:80%;
    margin: auto;
}

#main {
    margin:auto;
    
}
.flexContainer{
margin:auto;
text-align: center;
display:flex;
}

.signup {
  margin:auto;
  width: 40%; 
}

span {
    margin-left:2%;
}

.medium {
    margin-left:12%;
}

#signup-container {
    margin:auto;
    text-align:left;
   
}
#loginFirst, #loginLast, #loginPassword, #loginConfirm{
    width: 50%;
    height:50px;
    font-size:1.8vh;
    margin:auto;   
    border-radius: 10px;
    border: 2px solid grey;
 
}

#loginMobile, #loginEmail {
    margin:auto;
    width:100%;
    height:50px;
    font-size:1.8vh;
    border-radius: 10px;
    border: 2px solid grey;
}

#consent, #consentCheck {
    font-size:1.8vw; 
} 

#register-text {
  
    width: 70%;
    font-size:1.5vw;
    text-align:left;
   
}
#register, .highlight {
    background-color:#639cd9;
    color: white;
    width: 50%;
    height:7.5vh;
    font-size:1.8vh;
    border-radius: 10px;
    border: 2px solid #639cd9;
}

.outline{
    background-color:white;
    color:#639cd9;
}

#login {
    background-color:rgb(14, 159, 14);
    color: white;
    width: 50%;
    height:7.5vh;
    font-size:1.8vh;
    border-radius: 10px;
    border: 2px solid rgb(14, 159, 14) ;
}

#main {
    padding-left:30%;
}

@media only screen and (max-width: 300px) {
      #loginMobile, #loginEmail {
          margin:auto;
          width:75vw;
          height:50px;
          font-size:1.8vh;
      }
  }